/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
_ide_helper.php
_ide_helper_models.php
_lighthouse_ide_helper.php
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/db
.DS_Store
/redis_volumes/
/minio_volumes/
programmatic-types.graphql
schema-directives.graphql

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# sessionmanager-plugin files
/sessionmanager-bundle/
